
.image-cover .overlay{
	display: none;
}

.slider-posts .flickity-viewport{

	overflow: hidden;

}
.slider-posts .box{
	width: 80%;
}

.slider-posts .post-title{
	text-transform: uppercase;
	color: #1E71B8;
}


.flickity-page-dots .dot.is-selected {
    background-color: #1E71B8;
}

.flickity-page-dots .dot {
    border: 3px solid #1E71B8;
}

.flickity-prev-next-button{
    color: #eaa204;
}


.next-prev-nav .flex-col {
    width: 25px;
}
.navigation-post .bb, .navigation-post .bt {
    border: unset;
}
.navigation-post .nav-next{
    border-left: unset !important;
}
.entry-header-text.text-center{

    padding-left: 1.5em;
    padding-right: 1.5em;
    padding: 20px 0;
    text-align: left;
}


.entry-title{
    text-transform: uppercase;
    color: #1E71B8;
}

.icon-angle-left:before{
    color: #eaa204;
    font-size: 40px;
}

.icon-angle-right:before{
    color: #eaa204;
    font-size: 40px;
}

.is-divider{
    display: none;
}
.slider-nav-outside .flickity-page-dots, .row-slider .flickity-page-dots {
    bottom: -20px;
}

.slider-wrapper{
    margin-bottom: 50px;
}

.entry-content H2, .entry-content H3 {

        color: #1E71B8;

}
@media only screen and (min-width: 839px){
.post-template-default .page-wrapper {
    background-image: url(../../flatsome-clube-grd/assets/imgs/fundo-contratar.png);
    background-repeat: no-repeat;
    background-size: 117vw;
    background-position-x: -19vw;
    background-position-y: 2em;
}
}








@media (min-width: 1024px){




	
    .box-list-view .box .box-image, .box-vertical .box-image {
        width: 40%;
        
    }
    
    .row-slider-posts{
        margin: 0 auto !important;
    }
    
    .box-text{
    
        text-align: left !important;
        padding-left: 50px !important;
    
    }
    
    .box-text .is-divider{
    
        display: none;
    }

}
